<% provide(:title, "Welcome to the My U Library app!") %>
<div class="text-center">
  <h2>Welcome to the</h2>
  <h1>My U Library app!</h1>
  <p class="lead">
    <%= link_to "Sign up >>", "#", class: "btn btn-lg btn-secondary font-weight-bold border-white bg-white" %>
  </p>
</div>