<% provide(:title, "Welcome to the My U Library app!") %>

<div class="bg-light p-5 rounded">
  <h2>Welcome to the</h2>
  <h1>My U Library app!</h1>
  <p class="lead">
    <%= link_to "Log in >>", login_path, class: "btn btn-lg btn-primary font-weight-bold" %>
  </p>
</div>