<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger" role="alert">
      <i class=""></i> This form has <%= pluralize(object.errors.count, "error", "errors") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>