<% provide(:title, 'Roles') %>

<% content_for :page_header do %>
  <h1><%= yield(:title) %></h1>
<% end %>

<p>
  <%= link_to "New role", new_role_path, class: "btn btn-primary" %>
</p>

<% if @roles.size > 0 %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%= render @roles %>
    </tbody>
  </table>
  <%= will_paginate %>
<% else %>
  <h4>There are no roles.</h4>
<% end %>